.container {
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.container div {
    background-color: black;
    color: white;
    font-size: 100px;
    padding: 20px;
    display: inline-block; 
}




